<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--targetSdk34开始需要添加此权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <!--    悬浮窗-->
    <!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->

    <!--    精准定时任务权限-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!--    前台通知使用-->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />
    <!-- Android 13+ 读取音频文件 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        android:minSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <application
        android:name=".XyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_new_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xybbzapp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="locale|layoutDirection"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.App.Xybbzapp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--android 10开始，需要指定foregroundServiceType-->
        <service
            android:name="cn.xybbz.common.music.ExampleLibraryPlaybackService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            android:permission="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK">
            <!--如果需要兼容低版本，需要添加此intent-filter-->
            <intent-filter>
                <!--                <action android:name="androidx.media3.session.MediaSessionService" />-->
                <action android:name="androidx.media3.session.MediaLibraryService" />
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />
        </provider>

        <receiver
            android:name=".config.service.alert.AlertService"
            android:exported="false" />


        <receiver
            android:name=".config.service.ReportReceiver"
            android:exported="false" />
        <!--        <service android:name=".ui.components.FloatingWindowComponent"/>-->

        <receiver
            android:name=".config.download.notification.DownloadNotificationReceiver"
            android:exported="false" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

    </application>

</manifest>